#main {
  padding-top: 60px;
}

.content.merch {
  margin-right: 10%;
  margin-left: 10%;
}

.content.merch p {
  font-size: 1em;
}

.merch-grid {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}

.merch-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 0.2em;
}

.merch-col:first-of-type {
  margin-right: 30px;
}

.merch-col:last-of-type, .merch-col:nth-of-type(2) {
  padding-top: 10px;
}

.merch-description, .merch-price {
  padding: 10px;
  margin: 15px 0;
  background: #181d2d;
  border-radius: 0.2em;
}

.content .merch-description {
  font-size: 1em;
}

.merch-price {
  background: #02a726;
  width: calc(100% - 20px);
  position: relative;
}

.merch-price h2 {
  width: max-content;
}

.merch-price h2::after {
  content: ' each';
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.5);
}

h1 {
  font-size: 1.3em;
  margin-bottom: 0.2em;
}

.buy-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 0.3em;
  border: 1px solid transparent;
  background: #fff;
}

.dropdown, textarea, input[type="text"], input[type="email"] {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 0.3em;
  border: 1px solid #2e3353;
  background: #191C2D;
  color: white;
}

input[type="text"], #state, input[type="email"], #ec {
  margin-left: 10px;
}

@media only screen and (max-width: 910px) {
  .merch-grid {
    grid-template-columns: 1fr;
  }
}